# None and Dictionaries

In [1]:
None

In [2]:
True

True

In [5]:
my_data = ''
if my_data:print('Hello')

In [7]:
my_data = False
if my_data: print('Got data')

In [8]:
my_data = True
if my_data: print('Got data')

Got data

In [9]:
my_data = 'Yes'
if my_data: print('Got data')

Got data

In [10]:
d_age = {}
d_age

{}

In [1]:
d_age= {'Chaitu':33, 'Bharu':25, 'Sri':2}
print(d_age) #- print dic
print(d_age.items())  # print all items
print(d_age.values()) # print values
print(d_age.keys()) # print keys
print(d_age['Chaitu'])
if 'Chaitu' in d_age:
    print (True)

{'Chaitu': 33, 'Bharu': 25, 'Sri': 2}
dict_items([('Chaitu', 33), ('Bharu', 25), ('Sri', 2)])
dict_values([33, 25, 2])
dict_keys(['Chaitu', 'Bharu', 'Sri'])
33
True

In [9]:
print(d_age.get('Hello'))

None

In [15]:
d_age['hello']=1231

In [16]:
d_age['hello']

1231

In [17]:
d_age.get('hello')

1231

In [19]:
d_age.pop('hello')

1231

In [20]:
d_age

{'Chaitu': 33, 'Bharu': 25, 'Sri': 2}

In [ ]:
'Chaitu' in d_age

In [26]:
1 in d_age

False

In [28]:
for key in d_age.keys():
    print(key)

Chaitu
Bharu
Sri

In [29]:
for key in d_age.values():
    print(key)

33
25
2

In [30]:
for key, values in d_age.items():
    print(key, values)

Chaitu 33
Bharu 25
Sri 2

In [31]:
del d_age['Chaitu']

In [32]:
d_age

{'Bharu': 25, 'Sri': 2}

In [33]:
d_age['Chaitu']=33

In [34]:
d_age.pop('Robin',0)

0

In [49]:
# excercise 

def to_val(letter):
    d = {'i':1, 'v':5,'x':10, 'l':50, 'c':100, 'm':1000}
    if letter == 'i':return d['i']
    elif letter =='v':return d['v']
    elif letter =='x':return d['x']
    elif letter == 'l':return d['l']
    elif letter =='c':return d['c']
    elif letter == 'm':return d['m']
    return 0

to_val('1')

0

# Iterations

In [57]:
b= bytes()
b

b''

In [53]:
s = b'Hello how r u'
s

b'Hello how r u'

In [55]:
for c in s:print(c)

72
101
108
108
111
32
104
111
119
32
114
32
117

In [58]:
data = bytearray()
data

bytearray(b'')

In [59]:
data+=s

In [60]:
data[0]

72

In [63]:
data[0]=255
data

bytearray(b'\xffello how r u')

In [79]:
t= (['Hello','World'],'Apple', 'Banana', 'Canada', 'Dallas')
t[0][0]='Cat'
t

(['Cat', 'World'], 'Apple', 'Banana', 'Canada', 'Dallas')

In [71]:
tuple(list(fruits))

('Apple', 'Banana', 'Canada', 'Dallas')

In [102]:
ls = ['apple','cat', 'boost','gas','fish']
s= set(ls)
s.add('e')
s.add('e')
st ='Apple cat boose gas fish'
s

{'apple', 'boost', 'cat', 'e', 'fish', 'gas'}

In [115]:
d ={'k1':'v1','k2':{'k3':5}}
d
for i in ls:print(i)
print('---')
for i in s:print(i)
print('----')
for i in d:print(i)
print('----')
for i in d.items():print(i)
print('---')
for k,v in d.items():print(k,v)
print('----')
for k in d.keys():print(k)
print('-----')
for v in d.values():print(v)

apple
cat
boost
gas
fish
---
boost
fish
gas
cat
e
apple
----
k1
k2
----
('k1', 'v1')
('k2', {'k3': 5})
---
k1 v1
k2 {'k3': 5}
----
k1
k2
-----
v1
{'k3': 5}

In [125]:
s_fruits = ('Apple', 'Orange','Lemon','Tomato')
d_fruits = {'Apple':1, 'Orange':12, 'Lemon':2, 'Tomato':12}
l_fruits= ['Apple','Orange','Lemon','Tomato']

print(s_fruits)
print(d_fruits)
print(l_fruits)

('Apple', 'Orange', 'Lemon', 'Tomato')
{'Apple': 1, 'Orange': 12, 'Lemon': 2, 'Tomato': 12}
['Apple', 'Orange', 'Lemon', 'Tomato']

In [126]:
for i in s_fruits:print(i)

Apple
Orange
Lemon
Tomato

In [127]:
for i in enumerate(s_fruits):print(i)

(0, 'Apple')
(1, 'Orange')
(2, 'Lemon')
(3, 'Tomato')

In [134]:
for i in enumerate(d_fruits.keys()):print(i)

(0, 'Apple')
(1, 'Orange')
(2, 'Lemon')
(3, 'Tomato')

In [136]:
for (f,v) in zip(s_fruits, d_fruits.values()):print(f,v)

Apple 1
Orange 12
Lemon 2
Tomato 12

In [139]:
d_fruits.index('Apple')

AttributeError: 'dict' object has no attribute 'index'

In [149]:
prime_list = [1,2,3,5,7,11,13,17,19]
odd_list = [3,5,7,9]

In [150]:
list(set(prime_list) & set(odd_list))

[3, 5, 7]

In [156]:
[val for val in prime_list if val in odd_list]

[3, 5, 7]

In [164]:
try:
    int('asa')
except:
    print('asa is not in')

asa is not in

# Files

In [171]:
import os, sys,pathlib
from os import listdir
from pathlib import Path
p = Path('.')
[x for x in p.iterdir() if x.is_dir()]

[PosixPath('.ipynb_checkpoints'),
 PosixPath('venv'),
 PosixPath('CloudGuru'),
 PosixPath('.idea')]

In [173]:
os.path.abspath('.')

'/Users/mbheri/PycharmProjects/CloudGuru'

In [174]:
os.getcwd()

'/Users/mbheri/PycharmProjects/CloudGuru'

In [205]:
basepath = '/Users/mbheri/Downloads'
for entry in os.listdir(basepath):
    #print(entry)
    if '.txt' in entry:
        print(entry)
        print(os.path.join(basepath, entry))

words_dat.txt
/Users/mbheri/Downloads/words_dat.txt

In [210]:
with open('/Users/mbheri/Downloads/words_dat.txt') as file1:
    x= [line for line in file1 if line[0] =='x']
    
print(x)

['xenon+3,1\n', 'xerox+\n', 'xored\n', 'xylem+1,4\n']

In [216]:
pets = {'bird':3.5, 'cat':5.0, 'dog':7.25}

def fn_get_pet_price(pet):
    if pet in pets.keys():return pets[pet]
    else: return 'try again'


fn_get_pet_price('ae')

'try again'

In [ ]:
1